<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aalife.android"
    android:versionCode="291"
    android:versionName="2.9.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.aalife.android.AALifeApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aalife.android.AALifeActivity"
            android:label="@string/title_activity_aalife"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AALifeAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider" 
                android:resource="@xml/appwidget" />
        </receiver>
        <service android:name=".AALifeService"></service>
        <activity
            android:name="com.aalife.android.AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name="com.aalife.android.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="com.aalife.android.MonthTotalActivity"
            android:label="@string/title_activity_month" >
        </activity>
        <activity
            android:name="com.aalife.android.DayActivity"
            android:label="@string/title_activity_day" >
        </activity>
        <activity
            android:name="com.aalife.android.RankActivity"
            android:label="@string/title_activity_rank" >
        </activity>
        <activity
            android:name="com.aalife.android.TongJiActivity"
            android:label="@string/title_activity_tongji" >
        </activity>
        <activity
            android:name="com.aalife.android.RankItemActivity"
            android:label="@string/title_activity_rank" >
        </activity>
    </application>

</manifest>