<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aalife.android"
    android:versionCode="300"
    android:versionName="3.0.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aalife.android.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aalife.android.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.DayActivity"
            android:label="@string/title_activity_day"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.MonthActivity"
            android:label="@string/title_activity_month"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.AddActivity"
            android:label="@string/title_activity_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.aalife.android.EditActivity"
            android:label="@string/title_activity_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.aalife.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.CategoryEditActivity"
            android:label="@string/title_activity_category_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankCategoryActivity"
            android:label="@string/title_activity_rank_category"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankCountActivity"
            android:label="@string/title_activity_rank_count"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankPriceActivity"
            android:label="@string/title_activity_rank_price"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankDateActivity"
            android:label="@string/title_activity_rank_date"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankCatDetailActivity"
            android:label="@string/title_activity_rank_cat_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.RankCountDetailActivity"
            android:label="@string/title_activity_rank_count_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aalife.android.AnalyzeRecommendActivity"
            android:label="@string/title_activity_analyze_recommend"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
